<div class="list-post">
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>
                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>
            <div class="media-body">
                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                 
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>
                <div class="float-right mr-3">
                    <i class="fa fa-heart" style="color: rgb(252, 133, 133);"></i>
                </div>
                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">
                <div style="color: rgb(252, 133, 133);font-size: 14px;font-weight: 700;margin:2px 0;">
                    Waro liked</div>
                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante
                  
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>

                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">

                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>

                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">

                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                   <img src="https://www.publicdomainpictures.net/pictures/320000/nahled/background-image.png" class="img-post-item">
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>

                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">

                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante
                    sollicitudin.
                 
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>
                <div class="float-right mr-3">
                    <i class="fa fa-heart" style="color: rgb(252, 133, 133);"></i>
                </div>
                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">
                <div style="color: rgb(252, 133, 133);font-size: 14px;font-weight: 700;margin:2px 0;">
                    Waro liked</div>
                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante
                    sollicitudin.
                    Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    Fusce
                    condimentum
                    nunc ac
                    nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>

                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">

                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante
                    sollicitudin.
                    Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    Fusce
                    condimentum
                    nunc ac
                    nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="post-item border-top " style="padding: 12px 12px 12px 12px;">
        <div class="media">
            <div>

                <div>
                    <img src="https://pbs.twimg.com/profile_images/1160963628847247360/b4-8-0CN_normal.jpg"
                        class="rounded-circle mr-3" />
                </div>
            </div>

            <div class="media-body">

                <div class="mt-0">
                    <!-- Media heading -->
                    <div class="d-flex justify-content-between align-items-center" style="height: 22px;">
                        <div style="font-size: 16px;font-weight: 700;color: black;">Elon
                            Musk
                            <span class="note-post">
                                <span class="nickname">
                                    @hoangminh
                                </span>
                                <span class="time-slot">.</span>
                                <span class="hour-post">
                                    8h
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-center border-icon-trend cusor-hover">
                            <div class=" mb-3">...</div>
                        </div>
                    </div>

                </div>
                <div class="mr-2" style="line-height: 1.1;">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante
                    sollicitudin.
                    Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    Fusce
                    condimentum
                    nunc ac
                    nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <div class="action-post d-flex justify-content-between">
                    <div class="action-post-item cusor-hover">
                        <i class="fa far fa-comment m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-refresh m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-heart-o m-2"></i>
                        <span>8.8k</span>
                    </div>
                    <div class="action-post-item cusor-hover">
                        <i class="fa fa-upload m-2"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
