<div class="who-follow">
    <div class="d-flex justify-content-between mt-3 pl-3 pb-2 pt-2 pr-2 border-bottom">
        <div style="font-size: 19px;font-weight: 900;">Who to follow</div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-3 pt-3 pr-2  cusor-hover" style="display: block;">
        <div class="media ">
            <img src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" style="width: 50px;height: 50px;"
                class="rounded-circle" alt="...">
            <div class="media-body " style="margin: auto 12px;">
                <h5 class="mt-0 mb-1 font-weight-bolder" style="font-size: 18px;">Iternational
                </h5>
                <div class=" note-post">@Hoangminh</div>
            </div>
            <div style="margin: auto 12px;">
                <button class="btn  btn-primary font-weight-bold"
                    style="border-radius: 25px;background-color: #fff;border: 1px solid #1da1f2;color: #1da1f2;">Follow</button>
            </div>

        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-3 pt-3 pr-2  cusor-hover" style="display: block;">

        <div class="media ">
            <img src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" style="width: 50px;height: 50px;"
                class="rounded-circle" alt="...">
            <div class="media-body " style="margin: auto 12px;">
                <h5 class="mt-0 mb-1 font-weight-bolder" style="font-size: 18px;">Iternational
                </h5>
                <div class=" note-post">@Hoangminh</div>
            </div>
            <div style="margin: auto 12px;">
                <button class="btn  btn-primary font-weight-bold"
                    style="border-radius: 25px;background-color: #fff;border: 1px solid #1da1f2;color: #1da1f2;">Follow</button>
            </div>

        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-3 pt-3 pr-2  cusor-hover" style="display: block;">

        <div class="media ">
            <img src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" style="width: 50px;height: 50px;"
                class="rounded-circle" alt="...">
            <div class="media-body " style="margin: auto 12px;">
                <h5 class="mt-0 mb-1 font-weight-bolder" style="font-size: 18px;">Iternational
                </h5>
                <div class=" note-post">@Hoangminh</div>
            </div>
            <div style="margin: auto 12px;">
                <button class="btn  btn-primary font-weight-bold"
                    style="border-radius: 25px;background-color: #fff;border: 1px solid #1da1f2;color: #1da1f2;">Follow</button>
            </div>

        </div>
    </div>
    <div class="item-trend  pl-3 pb-3 pt-2 pr-2 cusor-hover"
        style=" display:block;height: 45px; color: #1da1f2;border-bottom-left-radius: 25px;border-bottom-right-radius: 20px;">
        Show more...
    </div>
</div>
