<div class="extention-right">
    <div class="box" style="background-color: #fff;">
        <div class="container-1 mt-1">
            <span class="icon">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" id="search" placeholder="Search Tweet">
        </div>
    </div>
    <div class="trend">
        <app-layout-trend-right></app-layout-trend-right>
      <app-layout-who-follow></app-layout-who-follow>
        <div class=" note-post  pl-3 pb-3 pt-3 pr-2">
            <div>
                <a>Terms of Service </a>
                <a>Privacy Policy </a>
                <a>Cookie Policy </a>
            </div>
            <div>
                <a>Ads info </a>
                <a>More ... </a>
                <a>&copy; 2021 Twiiter, Inc </a>
            </div>


        </div>
    </div>
</div>