<div class="list-trends">
    <div class="d-flex justify-content-between pl-3 pb-2 pt-2 pr-2 border-bottom ">
        <div style="font-size: 19px;font-weight: 900;">Trends for you</div>
        <div class="cusor-hover">
            <div class="d-flex align-items-center justify-content-center border-icon-trend"
                style="color: rgba(29,161,242,1.00);">
                <i class=" fa fa-22px  fa-cog"></i>
            </div>
        </div>
    </div>
    <div class=" item-trend border-bottom cusor-hover">
        <div class="pl-3 pb-2 pt-2 pr-2">
            <div class="d-flex justify-content-between" style="height: 22px;">
                <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam 1</p>
                <div class="d-flex align-items-center justify-content-center border-icon-trend">
                    <div class=" mb-3">...</div>
                </div>
            </div>
            <div class="font-weight-bold " style="font-size: 16px;">
                Vietnam
            </div>
            <div style="font-size: 14px;color: rgb(91, 112, 131);">
                28k Tweets
            </div>
        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-2 pt-2 pr-2 cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam 2</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class="item-trend border-bottom pl-3 pb-2 pt-2 pr-2  cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-2 pt-2 pr-2 cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-2 pt-2 pr-2  cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class="item-trend border-bottom pl-3 pb-2 pt-2 pr-2 cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-2 pt-2 pr-2  cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class=" item-trend border-bottom pl-3 pb-2 pt-2 pr-2  cusor-hover">
        <div class="d-flex justify-content-between" style="height: 22px;">
            <p style="font-size: 14px;color: rgb(91, 112, 131);">Trending in Vietnam</p>
            <div class="d-flex align-items-center justify-content-center border-icon-trend">
                <div class=" mb-3">...</div>
            </div>
        </div>
        <div class="font-weight-bold " style="font-size: 16px;">
            Vietnam
        </div>
        <div style="font-size: 14px;color: rgb(91, 112, 131);">
            28k Tweets
        </div>
    </div>
    <div class="item-trend  pl-3 pb-2 pt-2 pr-2 cusor-hover"
        style=" display:block;height: 45px; color: #1da1f2;border-bottom-left-radius: 25px;border-bottom-right-radius: 20px;"
        (click)="loadmore()">
        Show more...
    </div>
</div>
